
/* Container styles */
.custom-container {
    margin: 20px;
    
    padding: 20px;
}


/* Input fields with purple border */
.form-control{
    width:312px;
    height:56px;
}
.form-select{
    width:220px;
    height:56px;
}
.form-control, .form-select {
    align-items: center;
    border: 3px solid #65558F !important; /* Purple border for inputs */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #1D1B20;
    font-weight: 400;
    font-size: 16px;
}

.form-label {
    display:block;
    font-size: 14px;
    color: #65558F;
    margin-bottom: 2px;
}

/* Yellow button */
.btn-yellow {
    background-color: #ffc107;
    color: #fff;
}

/* Flatpickr custom styles */
.flatpickr-calendar {
    background-color: #ECE6F0; /* Light purple background */
    border-radius: 16px !important;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.flatpickr-months {
    color: #49454F; /* Purple text color */
    padding: 10px 0; /* Add spacing */
    display: flex;
    justify-content: space-between; /* Ensure month and year are spaced */
    align-items:center;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:2px;
    margin-right:2px;
}
.flatpickr-current-month{
    font-size:100%;
}

    .flatpickr-months .flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month {
        font-size: 10px; /* Adjust arrow size */
        padding:0;
        margin: 15px;
    }

.flatpickr-weekday {
    color: #1D1B20; /* Purple color for weekdays */
}

.flatpickr-day {
    color: #1D1B20; /* Default purple text for days */
    border-radius: 50%; /* Rounded day buttons */
    transition: all 0.2s ease-in-out;
}

    .flatpickr-day:hover {
        background-color: #65558F; /* Darker purple for hover effect */
        color: #fff; /* White text when hovering */
        border-radius: 50%;
    }

    .flatpickr-day.selected {
        background-color: #65558F !important; /* Dark purple for selected day */
        color: white !important;
        border-radius: 50%;
    }

    .flatpickr-day.today {
        border: 2px solid #65558F; /* Purple border for today's date */
        color: #1D1B20; /* Purple text for today */
    }

.custom-buttons {
    color: #65558F;
}