hombody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FABC02;
    width: 100%;
    height: 1750px;
}

a {
    text-decoration: none;
}

    a:hover {
        color: black;
    }

.angkor-regular {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}


.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
}

.header {
    margin: 20px;
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
}

.logo {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.highlight {
    margin-top: 5px;
    display: flex;
    color: white;
    font-style: italic;
    font-size: 36px;
}

.login-box {
    background: white;
    border-radius: 15px;
    display: block;
    padding: 0px;
    width: 607px;
    height: 811px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.printer-img {
    width: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.button-container {
    justify-items: center;
    justify-content: center;
    margin: 0px;
}

.login-button, .guest-button {
    justify-content: center;
    display: block;
    width: 399px;
    height: 89px;
    border-radius: 20px;
    border-width: 5px;
    padding: 10px;
    margin: 50px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

    .login-button:hover, .guest-button:hover {
        background-color: #FABC02;
    }

.tree {
    bottom: 0;
    left: 0;
}

.big {
    position: absolute; /* Creates a positioning context for .small */
    bottom: 0;
    z-index: 2; /* Ensures .big is on top */
}

.small {
    position: absolute; /* Positions .small relative to .big */
    bottom: 0; /* Moves to the bottom of .big */
    left: 0; /* Moves to the left of .big */
    z-index: 1; /* Places .small below .big */
    margin-left: 50px;
}

.tree2 {
    bottom: 0;
    margin-left: 40vw;
}

.small2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.big2 {
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin-left: 450px;
    left: 25%;
}

.tree3 {
    bottom: 0; /* Align to the bottom of the page */
    right: 0; /* Align to the right of the page */
    overflow: hidden; /* Prevent scrollbars */
}

.big3 {
    position: absolute; /* Establish a positioning context for .small3 */
    bottom: 0;
    right: 0;
    z-index: 2; /* Ensure it's on top of .small3 */
    width: 200px; /* Set the width */
    height: 200px; /* Set the height */
    transform: translateX(50%); /* Move half of its width outside the viewport on the right */
}

.small3 {
    position: absolute; /* Position relative to .big3 */
    z-index: 1; /* Ensure it's under .big3 */
    bottom: 0; /* Align to the bottom of .big3 */
    right: 8%; /* Align to the right of .big3 */
    width: 50px; /* Set custom width */
    height: 50px; /* Set custom height */
